# Example Driver Configuration for 3-Camera Pipeline

[driver]
instance_id = "driver-01"
aeron_dir = ""
control_channel = "aeron:ipc?term-length=4m"
control_stream_id = 1000
announce_channel = "aeron:ipc?term-length=4m"
announce_stream_id = 1001
qos_channel = "aeron:ipc?term-length=4m"
qos_stream_id = 1200

[shm]
base_dir = "/dev/shm"
namespace = "default"
require_hugepages = false
page_size_bytes = 4096
permissions_mode = "660"

[policies]
allow_dynamic_streams = true
default_profile = "raw_profile"
announce_period_ms = 1000
lease_keepalive_interval_ms = 1000
lease_expiry_grace_intervals = 3
shutdown_timeout_ms = 2000
shutdown_token = ""


[profiles.raw_profile]
header_nslots = 1024

[[profiles.raw_profile.payload_pools]]
pool_id = 1
stride_bytes = 1048576

[[profiles.raw_profile.payload_pools]]
pool_id = 2
stride_bytes = 4194304

[profiles.processed_profile]
header_nslots = 512

[[profiles.processed_profile.payload_pools]]
pool_id = 1
stride_bytes = 524288

[[profiles.processed_profile.payload_pools]]
pool_id = 2
stride_bytes = 2097152

[streams]

[streams.cam1]
stream_id = 10000
profile = "raw_profile"

[streams.cam2]
stream_id = 10001
profile = "raw_profile"

[streams.cam3]
stream_id = 10002
profile = "raw_profile"

[streams.proc1]
stream_id = 10100
profile = "processed_profile"

[streams.proc2]
stream_id = 10101
profile = "processed_profile"

[streams.proc3]
stream_id = 10102
profile = "processed_profile"
